In [1]:
from sklearn import tree
from sklearn.model_selection import train_test_split
import pandas as pd

# Dogs and cats data

In [2]:
data = pd.read_csv("dogs_n_cats.csv")
data.head()

   Length  Height  Fur  Bark  Climb       Type
0      15    18.0    1     1      0  sweet_dog
1      20    24.0    1     0      0  sweet_dog
2      34    40.8    1     1      0  sweet_dog
3      26    31.2    1     1      0  sweet_dog
4      16    19.2    1     1      0  sweet_dog

Check if there are any NAs

In [3]:
data.isnull().sum()

Length    0
Height    0
Fur       0
Bark      0
Climb     0
Type      0
dtype: int64

Everything is OK to continue further without any changes.

# Decision tree

## Split predictors and response

In [4]:
X = data.drop("Type", axis = 1)
X.head()

   Length  Height  Fur  Bark  Climb
0      15    18.0    1     1      0
1      20    24.0    1     0      0
2      34    40.8    1     1      0
3      26    31.2    1     1      0
4      16    19.2    1     1      0

In [5]:
y = data.Type
y.head()

0    sweet_dog
1    sweet_dog
2    sweet_dog
3    sweet_dog
4    sweet_dog
Name: Type, dtype: object

## Split the data to train/test

In [6]:
X_train, X_test, y_train, y_test =  train_test_split(X, 
                                                     y, 
                                                     test_size=0.30, 
                                                     random_state=42)

## Fit the model

In [7]:
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

Score on train data = 1.0

In [8]:
clf.score(X_train, y_train)

1.0

Score on test data = 1.0

In [9]:
clf.score(X_test, y_test)

1.0

# The same result for train and test */1.0/* => use whole data to make the model

In [10]:
clf_full = tree.DecisionTreeClassifier(criterion='entropy')
clf_full.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

# Prediction for *a.json*

In [11]:
data2 = pd.read_json("a.json")
data2.head()

   Length  Height  Fur  Bark  Climb
0      25    30.0    1     1      0
1      34    40.8    1     1      0
2      33    39.6    1     1      0
3      34    40.8    1     1      0
4      28    33.6    1     1      0

In [12]:
data2["Type_predicted"] = clf_full.predict(data2)

In [13]:
data2.head(10)

   Length  Height  Fur  Bark  Climb Type_predicted
0      25    30.0    1     1      0      sweet_dog
1      34    40.8    1     1      0      sweet_dog
2      33    39.6    1     1      0      sweet_dog
3      34    40.8    1     1      0      sweet_dog
4      28    33.6    1     1      0      sweet_dog
5      32    38.4    1     1      0      sweet_dog
6      27    32.4    1     1      0      sweet_dog
7      15    18.0    0     1      0      sweet_dog
8      29    34.8    1     1      0      sweet_dog
9      16    19.2    1     1      0      sweet_dog

## Number of predicted cat and dogs

In [14]:
data2["Type_predicted"].value_counts()

cat          54
sweet_dog    46
Name: Type_predicted, dtype: int64